@page "/info"

<div>
    <div class="row mb-3">
        <div class="col-12">
            <h1 class="primary-text-color">@resume.Info.JobTitle</h1>
        </div>
    </div>
    <div class="row mb-2">
        <div class="key col-4 col-md-2">
            First Name:
        </div>
        <div class="col-8 col-md-10">
            @resume.Info.FirstName
        </div>
    </div>
    <div class="row mb-2">
        <div class="key col-4 col-md-2">
            Last Name:
        </div>
        <div class="col-8 col-md-10">
            @resume.Info.LastName
        </div>
    </div>
    <div class="row mb-2">
        <div class="key col-4 col-md-2">
            Email:
        </div>
        <div class="col-8 col-md-10">
            @resume.Info.Email
        </div>
    </div>
    <div class="row mb-2">
        <div class="key col-4 col-md-2">
            PhoneNumber:
        </div>
        <div class="col-8 col-md-10">
            @resume.Info.PhoneNumber
        </div>
    </div>
</div>
